body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Creepster', cursive;
  color: #d1d1d6;
  font-size: 3rem;
  background-color: #383838;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75vh;
  width: 100%;
}

aside {
  width: 20%;
  height: 100%;
  border: 2px solid #a1a1a1;
  display: flex;
  flex-direction: column;
}

.player1-score-wrapper,
.player2-score-wrapper {
  border: 2px solid #a1a1a1;
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player1-score-header, 
.player2-score-header {
  font-size: 3.5rem;
  text-align: center;

}

.player1-score, 
.player2-score {
  font-size: 7rem;
}

.grid-1 {
  border: 2px solid #a1a1a1;
  height: 40rem;
  width: 100%
}

.grid-2 {
  border: 2px solid #a1a1a1;
  height: 40rem;
  width: 100%
}

.game-board-container {
  width: 40%;
  height: 100%;
  border: 4px solid #a1a1a1;
  display: flex;
  flex-direction: column;
}

.game-board-header-wrapper {
  height: 35%;
  border: 2px solid #a1a1a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board-header {
  font-size: 5.5rem;
  text-align: center;
}

.game-board-wrapper {
  height: 65%;
  border: 2px solid #a1a1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board-grid {
  height: 30rem;
  width: 30rem;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.cell {
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  background: transparent;
}

.black-cat,
 .spooky {
   height: 100%;
   width: 100%;
 }
