body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Creepster', cursive;
  color: #d1d1d6;
  font-size: 3rem;
  text-shadow:
  4px 4px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  background-color: #090909;
    background-image:url('/assets/spooky.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85vh;
  width: 100vw;
}

aside {
  width: 20%;
  height: 85vh;
  border: 2px solid #a1a1a1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.score-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon-header {
  height: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player1-score-wrapper,
.player2-score-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.player1-score-header, 
.player2-score-header {
  font-size: 6vh;
  text-align: center;

}

.player1-score, 
.player2-score {
  font-size: 10vh;
  color: orange;
  text-shadow: 
  4px 4px 0 rgb(157, 0, 255),
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.game-board-container {
  width: 40%;
  height: 85.4vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 31, 0);
}

.game-board-header-wrapper {
  height: 20%;
  border: 2px solid #a1a1a1;
  border-bottom-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board-header {
  font-size: 10vh;
  text-align: center;
  color: rgb(8, 8, 8);
  text-shadow:
  4px 4px 0 rgb(27, 205, 0),
  -1px -1px 0 rgb(27, 205, 0),  
  1px -1px 0 rgb(27, 205, 0),
  -1px 1px 0 rgb(27, 205, 0),
  1px 1px 0 rgb(27, 205, 0);
}

.game-board-wrapper {
  height: 80%;
  border: 2px solid #a1a1a1;
  border-top-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-turn-header {
  font-size: 6vh;
  margin-bottom: 1vh;
  color: orange;
  text-shadow:
  4px 4px 0 rgb(107, 0, 164),
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.game-board-grid {
  width: 22vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.quadrant {
  width: 32%;
  height: 32%;
  padding-bottom: 32%;
  position: relative;
  border: 2px solid #d0d0d0;
  display: flex;
  background-color: transparent;
  justify-content: center;
}

.quadrant-0 {
  border-top-color: transparent;
  border-left-color: transparent;
}

.quadrant-1 {
  border-top-color: transparent;
}

.quadrant-2 {
  border-top-color: transparent;
  border-right-color: transparent;
}

.quadrant-3 {
  border-left-color: transparent;
}

.quadrant-5 {
  border-right-color: transparent;
}

.quadrant-6 {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.quadrant-7 {
  border-bottom-color: transparent;
}

.quadrant-8 {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ghost, 
.black-cat {
  height: 85%;
  width: 100%;
  position: absolute;
  margin-top: 5px;
 }

 .reset-button {
 width: 12vw;
 height: 8%;
 margin-bottom: 5%;
 margin-right: 18px;
 color: orange;
 background-color: transparent;
 border: none;
 border-radius: 8px;
 transition: ease-out 0.3s;
 font-size: 1.5vw;
 font-family: 'Creepster', cursive;
 outline: none;
 border: 5px solid orange;
 position: relative;
}

.reset-button:hover {
  background-color: orange;
  color: black;
  border-color: rgb(169, 0, 225);
  cursor: pointer;
}

.reset-button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: orange;
}

.reset-button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
}

audio {
  margin-top: 20px;
  height: 3vh;
  width: 15vw;
}

audio::-webkit-media-controls-panel{
  background-color: rgb(113, 113, 113);
}



